.sydney{
  display: flex;
  flex-wrap: wrap;
  color: #fd8e0a;


}

.card {
  flex-grow: 1;
  flex-shrink: 2;
  width: 5%;
  padding: 50px;
  border:1px solid #eeeeee;
  box-shadow: 0 50vh 0 50vh #eeeeee;
  margin-left: 0.8rem;
  background-color:#fd8e0a;
  color: white;

}


.helloSydney {
  color: #fd8e0a;
  padding-left: 50px;
}

.mapdiv {
  display: flex;
  border: 1px solid ;
}

.mapstuff {
  position: relative;
  flex: 3 1;
}

.parkinginfo {
  flex: 1 1;
  overflow-y: scroll;
  height: 600px;
}

.parking {
  flex: 1 1;
  padding: 12px;
  border: 2px solid;
  border-radius: 25px;
  background-color: #fd8e0a;
  color: white;

}
